* {
    padding: 0;
    margin: 0;
}
body {
    background-color: #f8f8f8;
    font: 12px/1.5 "Microsoft Yahei", tahoma, arial, "Hiragino Sans GB";
    -webkit-font-smoothing: antialiased;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}

.rightTab {
    position: fixed;
    right: 0;
    top: 0;
    width: 35px;
    height: 100%;
    background-color: #383838;
}
.person {
    position: absolute;
    top: 23.5%;
    width: 35px;
    height: 30px;
    background: url(../images/person1.png) no-repeat;
    background-position: center center;
}
.person:hover {
    background-color: #f3ae3d;
    background-image: url(../images/person2.png);
}
.car {
    position: absolute;
    top: 28%;
    width: 35px;
    height: 110px;
    background: url(../images/car.png) no-repeat;
    background-position: center 20px;
}
.car:hover {
    background-color: #f3ae3d;
}
.carText {
    display: block;
    width: 20px;
    margin: 40px auto 0;
    text-align: center;
    color: white;
}
.consult {
    position: absolute;
    bottom: 250px;
    width: 35px;
    height: 30px;
    background: url(../images/consult1.png) no-repeat;
    background-position: center center;
}
.consult:hover {
    background-color: #f3ae3d;
    background-image: url(../images/consult2.png);
}
.respond {
    position: absolute;
    bottom: 220px;
    width: 35px;
    height: 30px;
    background: url(../images/respond1.png) no-repeat;
    background-position: center center;
}
.respond:hover {
    background-color: #f3ae3d;
    background-image: url(../images/respond2.png);
}
.toTop {
    position: absolute;
    bottom: 20px;
    width: 35px;
    height: 30px;
    background: url(../images/toTop1.png) no-repeat;
    background-position: center center;
}
.toTop:hover {
    background-color: #f3ae3d;
    background-image: url(../images/toTop2.png);
}

.leader {
    position: relative;
    width: 100%;
    height: 35px;
    background-color: #f5f5f5;
}
.login , .register{
    position: relative;
    float: left;
    height: 35px;
    line-height: 35px;
    font-weight: 400;
    color: #666;
}
.a1 .login:hover {
    color: #ed702d;
}
.login {
    width: 40px;
    margin-left: 150px;
}
.register {
    width: 50px;
    margin-left: 30px;
    line-height: 35px;
    font-weight: 400;
    color: #ed702d;
}
.selfPage , .order , .anotherCar {
    position: relative;
    float: right;
    width: 80px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #666;
}
.order:hover , .selfPage:hover {
    background-color: white;
    color: #d66528;

}
.anotherCar {
    margin-right: 150px;
    background: url(../images/anotherCar.png) no-repeat;
    background-size: 40px 20px;
    background-position: 0 center;
    color: #d66528;
    text-indent: 3em;
}
.anotherCar:hover {
    background-color: white;
}
.a2:visited {
    color: #d66528;
}

.header {
    position: absolute;
    top: 35px;
    left: 0;
    width: 97.5%;
    height: 100px;
    background: url(../images/logo.png) no-repeat;
    background-size: 190px 90px;
    background-position: 8.3% 10px;
    background-color: white;
}
.search {
    position: absolute;
    top: 35px;
    left: 33%;
    width: 37.5%;
    height: 40px;
    border: 2px solid #ed8733;
    border-radius: 15px;
    background-color: white;
}
.mirror {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 20px;
    height: 20px;
    background: url(../images/mirror.png) no-repeat;
    background-size: 20px 20px;
}
.textArea {
    position: absolute;
    top: 0;
    left: 35px;
    width: 390px;
    height: 40px;
}
#textArea {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
}
#search {
    float: right;
    width: 120px;
    height: 40px;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #ef8733;
    text-indent: 1.5em;
    line-height: 40px;
    letter-spacing: 4px;
    color: white;
    font-size: 18px;
    font-weight: 800;
}
#search:hover {
    cursor: pointer;
}

.nav {
    margin-top: 135px;
    width: 97.5%;
    height: 35px;
    background-color: white;
}
.container1 , .container2 {
    position: absolute;
    width: 200px;
    height: 35px;
}
.container1 {
    left: 100px;
}
.container2 {
    right: 135px;
}
.classify , .protocol {
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    line-height: 35px;
    font-size: 14px;
}
.classify {
    background: url(../images/classify.png) no-repeat;
    background-size: 15px 15px;
    background-position: 10px center;
    text-indent: 2.5em;
    background-color: #ef8733;
    color: white;
    font-weight: 600;
}
.protocol {
    text-align: center;
    background-color: #4a4a48;
    color: #f5dba1;
}
.dropdown {
    position: absolute;
    width: 100%;
    height: 475px;
    background-color: white;
    z-index: 1;
}
.dropdown li {
    height: 47.5px;
    text-indent: 25px;
    line-height: 47.5px;
    font-size: 14px;
}
.dropdown li:hover {
    background-color: #f3f3f3;
}
.dropdown a {
    color: black;
}
.dropdown a:hover {
    color: #ed702d;
}
.dropdown .lion {
    margin-top: 40px;
    width: 100%;
    height: 84px;
    background: url(../images/lion.png) no-repeat;
    background-position: center center;
}
.dropdown .hi {
    margin-top: 20px;
    width: 100%;
    height: 50px;
    color: #333;
    font-size: 18px;
    text-align: center;
}
.loginBtn , .registerBtn {
    margin-left: 20%;
    width: 60%;
    height: 50px;
    background-color: #ef8733;
    border-radius: 10px;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    color: white;
    font-weight: 800;
}

.allArea {
    position: relative;
    width: 97.5%;
    height: 475px;
    background-color: #f2f2f2;
}
.slideArea {
    position: absolute;
    left: 300px;
    width: 790px;
    height: 100%;
}
.mainArea li {
    float: left;
}
.mainArea img {
    display: none;
    height: 475px;
}
.left , .right {
    display: none;
    position: absolute;
    top: 205px;
    width: 30px;
    height: 70px; 
    background-color: rgba(0,0,0,0.3);
    text-align: center;
    line-height: 70px;
    color: white;
}
.left {
    left: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.right {
    right: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.point {
    position: absolute;
    left: 290px;
    bottom: 10px;
    width: 210px;
    height: 8px;
}
.point li {
    float: left;
    width: 20px;
    height: 6px;
    margin: 1px 5px;
    background-color: #ffffff80;
}
.point li:hover {
    background-color: #ec9758;
}

.recommend {
    width: 100%;
    height: 80px;
    background: url(../images/recommend.png) no-repeat;
    background-position: 100px center;
    background-size: 1175px 80px;
    background-color: #f2f2f2;
}
.bodyer {
    width: 100%;
    height: 2150px;
    background-color: #f2f2f2;
}
.bigBox {
    margin-left: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1175px;
    height: 100%;
    background-color: #f2f2f2;
}
.smallBox {
    width: 227px;
    height: 350px;
    background-color: white;
}
.smallBox:hover {
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}
.smallBox img {
    margin-bottom: 10px;
    width: 227px;
    height: 227px;
}
.smallBox p {
    margin: 0 14px 8px;
    font-size: 14px;
    color: #333;
}
.smallBox h2 {
    margin: 30px 14px 0;
    font-size: 20px;
    color: #f30;
}

/* 此段页脚大部分引用自苏宁易购页脚源代码 */
.ng-s-footer {
    height: 185px;
    background: none;
    text-align: center;
    padding-top: 15px;
}
.ng-s-footer p.ng-url-list {
    height: 25px;
    line-height: 25px;
    margin: 0;
}
.ng-s-footer p.ng-url-list a {
    color: #666666;
    text-decoration: none;
    outline: 0;
    line-height: 25px;
}
.ng-s-footer p.ng-url-list a:hover {
    color: #ed702d;
    text-decoration: underline;
}
.ng-s-footer p.ng-url-list span {
    color: #888;
    padding: 0 8px;
}
.ng-s-footer p.ng-copyright {
    float: none;
    width: 100%;
    line-height: 25px;
    color: #999;
    height: 25px;
    margin: 0;
}
.ng-s-footer p.ng-copyright a {
    text-decoration: none;
    color: #999;
    outline: 0;
}
.ng-s-footer p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.ng-s-footer .ng-authentication {
    float: none;
    margin: 0 auto;
    height: 25px;
    width: 990px;
    margin-top: 5px;
}