* {
    padding: 0;
    margin: 0;
}
body {
    background-color: #f5f5f5;
    font: 12px/1.5 "Microsoft Yahei", tahoma, arial, "Hiragino Sans GB";
    -webkit-font-smoothing: antialiased;
}
a {
    text-decoration: none;
}

.leader {
    position: relative;
    width: 100%;
    height: 35px;
    background-color: #f5f5f5;
}
.login, .register {
    position: relative;
    float: left;
    height: 35px;
    line-height: 35px;
    font-weight: 400;
    color: #666;
}
.a1 .login:hover {
    color: #ed702d;
}
.login {
    width: 40px;
    margin-left: 150px;
}
.register {
    width: 50px;
    margin-left: 30px;
    line-height: 35px;
    font-weight: 400;
    color: #ed702d;
}
.selfPage, .order, .anotherCar {
    position: relative;
    float: right;
    width: 80px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #666;
}
.order:hover, .anotherCar:hover {
    background-color: white;
    color: #d66528;
}
.selfPage {
    background-color: white;
    color: #d66528;
}
.anotherCar {
    margin-right: 150px;
    background: url(../images/anotherCar.png) no-repeat;
    background-size: 40px 20px;
    background-position: 0 center;
    color: #d66528;
    text-indent: 3em;
}
.a2:visited {
    color: #d66528;
}

.header {
    position: relative;
    width: 100%;
    height: 60px;
    background-color: #f70;
    color: white;
    font-size: 28px;
    font-weight: 800;
    text-indent: 150px;
    line-height: 60px;
}

.mainBody {
    position: relative;
    margin: 40px auto 0;
    width: 1000px;
    height: 450px;
}
.selfArea {
    position: relative;
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
    background-color: white;
}
.fileDiv {
    position: absolute;
    left: 30px;
    top: 50px;
    width: 100px;
    height: 100px;
    border: 2px solid #e6e6e6;
    border-radius: 50px;
    background: url(../images/lion.png) no-repeat;
    background-size: 100px 100px;
}
.selfArea input {
    opacity: 0;
    width: 100%;
    height: 100%;
}
.name {
    position: absolute;
    top: 50px;
    left: 180px;
    width: 80px;
    height: 24px;
    font-size: 18px;
    color: #333;
    font-weight: 600;
    line-height: 24px;
}
.myAddress {
    position: absolute;
    bottom: 50px;
    left: 180px;
    width: 100px;
    height: 20px;
    font-size: 14px;
    color: #333;
    line-height: 20px;
}
.myAddress:hover {
    color: #ed702d;
}
.care {
    position: absolute;
    top: 30px;
    left: 400px;
    width: 200px;
    height: 30px;
    font-size: 16px;
    color: #333;
    line-height: 30px;
}
.careText {
    position: absolute;
    top: 60px;
    left: 400px;
    width: 400px;
    height: 30px;
    font-size: 14px;
    color: #333;
    line-height: 30px;
}
.careText:hover {
    color: #ed702d;
}
.balanceArea {
    position: relative;
    width: 100%;
    height: 200px;
    background-color: white;
}
.balanceText {
    position: absolute;
    left: 40px;
    top: 60px;
    width: 100px;
    height: 30px;
    font-size: 16px;
    color: #333;
    text-align: center;
    line-height: 30px;
}
.balanceNumber {
    position: absolute;
    left: 35px;
    top: 80px;
    width: 100px;
    height: 50px;
    font-size: 30px;
    color: #ed702d;
    text-align: center;
    line-height: 50px;
}
.money {
    position: absolute;
    left: 250px;
    top: 90px;
    width: 80px;
    height: 26px;
    border: 1px solid #bbb;
    border-radius: 3px;
    outline: none;
}
.virtual {
    position: absolute;
    left: 340px;
    top: 88px;
    width: 80px;
    height: 32px;
    border-radius: 4px;
    background-color: #ed702d;
    text-align: center;
    line-height: 32px;
    color: white;
    font-size: 18px;
}

.formArea {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -131px;
    margin-left: -256px;
    width: 500px;
    height: 250px;
    padding: 6px;
    background-color: rgba(0, 0, 0, 0.2);
}
.innerHeader {
    position: relative;
    width: 100%;
    height: 30px;
    background-color: #eee;
    line-height: 30px;
}
.already, .add {
    float: left;
    font-size: 14px;
    font-weight: 600;
    color: #333;
    width: 60px;
    height: 30px;
    margin-right: 10px;
    cursor: pointer;
}
.add {
    color: #ed702d;
    background-color: white;
}
.close {
    float: right;
    font-size: 16px;
    color: #999;
    cursor: pointer;
}
.alreadyArea , .addArea{
    position: relative;
    padding-top: 20px;
    width: 100%;
    height: 200px;
    background-color: white;
}
.alreadyArea div {
    position: relative;
    margin-top: 10px;
    width: 100%;
    height: 60px;
    font-size: 16px;
    color: #333;
    text-indent: 20px;
    line-height: 60px;
}
.buyer , .address , .phone, .ifDefault{
    width: 100%;
    height: 30px;
    margin-top: 20px;
}
.addArea span {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 115px;
    height: 100%;
    float: left;
    font-size: 12px;
    color: #333;
}
.addArea input {
    outline: none;
    height: 18px;
    border: 1px solid #bbb;
    margin: 5px 0;
}
.ifDefault div {
    display: inline-block;
    position: absolute;
    top: 6px;
    left: 130px;
    width: 100px;
    height: 18px;
    font-size: 12px;
    color: #666;
}
.save , .cancel {
    position: absolute;
    width: 60px;
    height: 26px;
    bottom: 10px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    line-height: 26px;
    cursor: pointer;
}
.save {
    left: 150px; 
    background-color: #ec9532;
    color: white;
}
.cancel {
    right: 150px; 
    background-color: #f7f7f7;
    color: black;
}

/* 此段页脚大部分引用自苏宁易购页脚源代码 */
.ng-s-footer {
    height: 185px;
    background: none;
    text-align: center;
    padding-top: 15px;
}
.ng-s-footer p.ng-url-list {
    height: 25px;
    line-height: 25px;
    margin: 0;
}
.ng-s-footer p.ng-url-list a {
    color: #666666;
    text-decoration: none;
    outline: 0;
    line-height: 25px;
}
.ng-s-footer p.ng-url-list a:hover {
    color: #ed702d;
    text-decoration: underline;
}
.ng-s-footer p.ng-url-list span {
    color: #888;
    padding: 0 8px;
}
.ng-s-footer p.ng-copyright {
    float: none;
    width: 100%;
    line-height: 25px;
    color: #999;
    height: 25px;
    margin: 0;
}
.ng-s-footer p.ng-copyright a {
    text-decoration: none;
    color: #999;
    outline: 0;
}
.ng-s-footer p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.ng-s-footer .ng-authentication {
    float: none;
    margin: 0 auto;
    height: 25px;
    width: 990px;
    margin-top: 5px;
}